<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.web.dao.UeditorPictureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.web.model.UeditorPicture">
        <result column="S_ID" property="sId" />
        <result column="S_PIC_NAME" property="sPicName" />
        <result column="S_PIC_FORMAT" property="sPicFormat" />
        <result column="S_AUTHOR" property="sAuthor" />
        <result column="S_PATH" property="sPath" />
        <result column="D_INSERT" property="dInsert" />
        <result column="S_FLAG" property="sFlag" />
        <result column="S_REPORT_ID" property="sReportId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        S_ID AS sId, S_PIC_NAME AS sPicName, S_PIC_FORMAT AS sPicFormat, S_AUTHOR AS sAuthor, S_PATH AS sPath, D_INSERT AS dInsert, S_FLAG AS sFlag, S_REPORT_ID AS sReportId
    </sql>

</mapper>
