<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/common/style.js"></script>
    <script src="/static/js/common/script.js"></script>
</head>
<body>
<div id="myCarousel" class="carousel slide" style="width: 600px">
    <!-- 轮播（Carousel）指标 -->
    <!--<ol class="carousel-indicators">-->
        <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
    <!--</ol>-->
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <table id="slideTable1"></table>
        </div>
        <div class="item">
            <table id="slideTable2"></table>
        </div>
    </div>
     <!--轮播（Carousel）导航 -->
    <!--<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">-->
        <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
        <!--<span class="sr-only">Previous</span>-->
    <!--</a>-->
    <!--<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">-->
        <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
        <!--<span class="sr-only">Next</span>-->
    <!--</a>-->
</div>
<script src="/static/js/carousel/carousel.js"></script>
</body>
</html>