<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/static/images/favicon.ico">
    <title>首页</title>
    <!--公共JS CSS-->
    <script src="/static/js/common/style.js"></script>
    <script src="/static/js/common/script.js"></script>

    <link href="/static/css/index.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<input type="text" id="username" style="display: none;">
<input type="text" id="password" style="display: none;" value=${password}>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="/sysUser/view" target="mainFrame">用户管理<span class="sr-only">(current)</span></a></li>
                <li><a href="/d3Svg/view" target="mainFrame">d3Svg管理</a></li>
                <li><a href="/webSocket/view" target="mainFrame">webSocket管理</a></li>
                <li><a href="/Carousel/view" target="mainFrame">轮播管理</a></li>
                <li><a href="/TemplateController/view" target="mainFrame">模板添加</a></li>
                <li><a href="/ueditor/view" target="mainFrame">富文本</a></li>
                <li><a href="/tableEdit/view" target="mainFrame">bootstrap添加行</a></li>
                <li><a href="/layerTemp/view" target="mainFrame">Layer管理</a></li>
                <li><a href="/jsTreeDemo/view" target="mainFrame">JsTree管理</a></li>
                <li><a href="#">J管理</a></li>
                <li><a href="#">K管理</a></li>
                <li><a href="#">L管理</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <iframe name="mainFrame" class="iframeClass" width="100%" height="600px" id="mainFrame" frameborder="no"></iframe>
        </div>
    </div>
</div>
<div style="display: block">
    <span>收到消息为:</span><p id="getMessage"></p>
</div>
<script src="/static/js/index.js"></script>
</body>
</html>