<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/common/script.js" type="text/javascript" charset="utf-8"></script>
    <style>
        .tooltip{
            position: absolute;
            width: 120px;
            height: auto;
            font-family: simsun;
            font-size: 14px;
            text-align: center;
            border-style: solid;
            border-width: 1px;
            background-color: white;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div>
    <svg>
    </svg>
</div>
</body>
<script src="/static/js/d3Svg/barGSvg.js" type="text/javascript" charset="utf-8"></script>
</html>