<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/common/script.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div style="height: 100%;width: 100%">
    <svg id="mysvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 600" preserveAspectRatio="xMidYMid meet">
        <circle id="mycircle" cx="400" cy="300" r="50"/>
    </svg>
</div>
</body>
<script src="/static/lib/d3/d3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/d3Svg/d3Svg.js" type="text/javascript" charset="utf-8"></script>
</html>